{% extends 'index.html' %}

{% load static%}
{% block title %} Search Results {% endblock title %}

{% block body %}
<div class="container my-4">
  {% comment %} condition if search cant find any querry {% endcomment %} 
  {% if information|length < 1 %} 
  {% comment %}<p>No Results Found. Please search Valid Query</p>{% endcomment %}
  <div class="container">
    <p>Your search - <b>{{query}}</b> - did not match any documents.</p>
    <p><b> Suggestions:</b></p>
    <ul>
      <li>Make sure that all words are spelled correctly.</li>
      <li>Try different keywords.</li>
      <li>Try more general keywords.</li>
      <li>Try fewer keywords.</li>
    </ul>
  </div>
  {% endif %} 
  <div class="container">
    <div class="py-5 text-center">
      <h2>Search Results:</h2>
      </hr>
    </div>
    <div class="container marketing">
    <div class="row mb-2">
              <div class="container mt-4">
               
               
                 
                <div class="table-responsive">
                <table class="table table-hover">
                  <thead class="thead-dark">
                    <tr>
                      
                      <th scope="col">Profile</th>
                      <th scope="col">EmpCode</th>
                      <th scope="col">Name</th>
                      <th scope="col">Contact</th>
                      <th scope="col">Nid</th>
                      <th scope="col">Department</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in information %}
                    <tr>
                      
                      <td><img class="bd-placeholder-img"  src="/media/{{i.emp_Image}}" alt="image" aria-label="Placeholder: Thumbnail" width="50" height="60"></td>
                      <td>{{i.emp_Code}}</td>
                      <td>{{i.emp_last_Name}}</td>
                      <td>{{i.emp_present_number}}</td>
                      <td>{{i.emp_national_id_no}}</td>
                      <td>{{i.emp_department}}</td>
                      <td>
                      <a class="btn-sm btn-primary mr-1" href="/viewemployeeInfo/{{i.emp_ID}}"><svg width="1em" height="1em" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" ><path fill-rule="evenodd" d="M1.679 7.932c.412-.621 1.242-1.75 2.366-2.717C5.175 4.242 6.527 3.5 8 3.5c1.473 0 2.824.742 3.955 1.715 1.124.967 1.954 2.096 2.366 2.717a.119.119 0 010 .136c-.412.621-1.242 1.75-2.366 2.717C10.825 11.758 9.473 12.5 8 12.5c-1.473 0-2.824-.742-3.955-1.715C2.92 9.818 2.09 8.69 1.679 8.068a.119.119 0 010-.136zM8 2c-1.981 0-3.67.992-4.933 2.078C1.797 5.169.88 6.423.43 7.1a1.619 1.619 0 000 1.798c.45.678 1.367 1.932 2.637 3.024C4.329 13.008 6.019 14 8 14c1.981 0 3.67-.992 4.933-2.078 1.27-1.091 2.187-2.345 2.637-3.023a1.619 1.619 0 000-1.798c-.45-.678-1.367-1.932-2.637-3.023C11.671 2.992 9.981 2 8 2zm0 8a2 2 0 100-4 2 2 0 000 4z"></path></svg>
                      </a> 
                      <a class="btn-sm btn-warning" href="/editemployeeInfo/{{i.emp_ID}}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                      </svg></a> 
                            <a  class="btn-sm btn-danger my-1" href="/delete_employee/{{i.emp_ID}}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                      </svg></a></td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
                </div>
  </div>
    </div> 
  </div>
</div>
{% endblock body %}
