{% extends 'index.html' %}

{% block title %} LAKSHMA ERP | LAPDIP INFORMATION {% endblock title %}



{% block body %}

{% if messages %}

    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message: </strong>{{message}} 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
    {% endfor %}

   {% endif %}

<div class="container p-5 bg-color">

    <div class="py-5 text-center">
      <h2 class="text-uppercase font-weight-bold">OmPO Color Size breakdown Form</h2>
      
    </div>

    <div class="col-md-12 order-md-1 mb-2">
     
      <form class="needs-validation " method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="row justify-content-center"> 

     

           <div class="col-md-4 mb-3">
            <label for="po_break_down_id">Po breakdown id</label>
            <input
            name="po_break_down_id"
              type="text"
              class="form-control"
              id="po_break_down_id"
              placeholder=""
              value=""
              required=""
            />
          </div> 

           <div class="col-md-4 mb-3">
            <label for="job_no_mst">Job no mst</label>
            <input
            name="job_no_mst"
              type="text"
              class="form-control"
              id="job_no_mst"
              placeholder=""
              value=""
              required=""
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="po_no_mst">Po no mst</label>
            <input
            name="po_no_mst"
              type="text"
              class="form-control"
              id="po_no_mst"
              placeholder=""
              value=""
              required=""
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="size_name">Size Name</label>
            <select
              name="size_name "
              class="custom-select d-block w-100"
              id="size_name "
            >
              <option value="">-- Choose --</option>
              {% for s in sizes %}
              <option>{{s.size_name}}</option>
              {% endfor %}
           
            </select>
          </div> 
          <div class="col-md-4 mb-3">
            <label for="color_name">Color Name</label>
            <select
              name="color_name "
              class="custom-select d-block w-100"
              id="color_name "
            >
              <option value="">-- Choose --</option>
              {% for c in colors %}
              <option>{{c.color_name}}</option>
              {% endfor %}
           
            </select>
          </div> 
          <div class="col-md-4 mb-3">
            <label for="prod_quantity">Product quantity</label>
            <input
            name="prod_quantity"
              type="text"
              class="form-control"
              id="prod_quantity"
              placeholder=""
              value=""
              required=""
            />
          </div>   

           <div class="col-md-4 mb-3">
            <label for="po_total">Po Total</label>
            <input
            name="po_total"
              type="text"
              class="form-control"
              id="po_total"
              placeholder=""
              value=""
              required=""
            />
          </div> 
          <div class="col-md-4 mb-3">
            <label for="is_deleted">Is deleted</label>
            <input
            name="is_deleted"
              type="text"
              class="form-control"
              id="is_deleted"
              placeholder=""
              value=""
              required=""
            />
          </div> 
          
          <div class="col-md-4 mb-3">
            <label for="is_used">Is used</label>
            <input
            name="is_used"
              type="text"
              class="form-control"
              id="is_used"
              placeholder=""
              value=""
              required=""
            />
          </div> 

          <div class="col-md-4 mb-3">
            <label for="status_active    ">Status</label>
            <select
            name="status_active "
            class="custom-select d-block w-100"
            id="status_active "
          >
          <option value="">-- Status --</option>
          <option>Yes</option>
          <option>No</option>
         
          </select>
          </div> 
          
          <div class="col-md-4 mb-3">
            <label for="inserted_by    ">Inserted By</label>
            <input
              name="inserted_by    "
              type="text"
              class="form-control"
              id="inserted_by    "
              placeholder=""
              value=""
            />
          </div> 
          <div class="col-md-4 mb-3">
            <label for="insert_date    ">Insert Date</label>
            <input
              name="insert_date    "
              type="date"
              class="form-control"
              id="insert_date    "
              placeholder=""
              value=""
            />
          </div> 
          <div class="col-md-4 mb-3">
            <label for="updated_by    ">Updated By</label>
            <input
              name="updated_by    "
              type="text"
              class="form-control"
              id="updated_by    "
              placeholder=""
              value=""
            />
          </div> 
          <div class="col-md-4 mb-3">
            <label for="update_date    ">Update Date</label>
            <input
              name="update_date    "
              type="date"
              class="form-control"
              id="update_date    "
              placeholder=""
              value=""
            />
          </div> 
        

          <div class="col-md-4 mb-3">
            <label for="is_locked ">Is locked</label>
            <select
            name="is_locked "
            class="custom-select d-block w-100"
            id="is_locked "
          >
          <option value="">-- Status --</option>
          <option>Yes</option>
          <option>No</option>
         
          </select>
          </div> 
          
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>

  <div class="container mt-4 ">
    <h4 class="text-center mb-4">VIEW ALL PO COLOR SIZE BREAKDOWN INFO LIST HERE</h4>
   
     
    <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Serial No.</th>
          <th scope="col">Po Breakdown Id</th>
          <th scope="col">Color name </th>
          <th scope="col">Size name</th>
          <th scope="col">Product quantity</th>
          <th scope="col">Po Total</th>
          <th scope="col">Action </th>
        </tr>
      </thead>
      <tbody>
        {% for i in breakdown  %}
        <tr>
          <td>{{i.id}}</td>
          <td>{{i.po_break_down_id}}</td>
          <td>{{i.color_name}}</td>
          <td>{{i.size_name}}</td>
          <td>{{i.prod_quantity}}</td>
          <td>{{i.po_total}}</td>
          <td>
            <a href="/viewbuyerInfo/{{i.id}}"><i class="fas fa-eye btn btn-primary btn-sm" ></i></a> 
            <a href="/editbuyerInfo/{{i.id}}"><i class="fas fa-pencil-alt btn-danger btn-sm"></i></a>
            <a href="/delete_buyer/{{i.id}}"><i class="far fa-trash-alt btn-warning btn-sm"></i></a> 
          </td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
    </div>
  </div> 



{%endblock body%}