{% extends 'index.html' %}

{% block title %} LAKSMA ERP | Hrm Employee{% endblock title %}

{% block css %}
<style>
  /*.bg-color{
    color:white;
    background-color: rgb(37, 36, 36);
    background-image: linear-gradient(green, rgb(46, 43, 43));
  }*/
</style>
{% endblock css%}

{% block body %}

{% if messages %}

    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message: </strong>{{message}} 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
    {% endfor %}

{% endif %}
  
    <div class="container p-5 bg-color">
      <div class="py-5 text-center">
        <h2 class="text-uppercase font-weight-bold">HR Employee Form</h2>
        <!-- <p class="lead">
            Please provide your authentic information by filling up the form below
          </p> -->
      </div>

      <div class="col-md-12 order-md-1 mb-2">
       
        <form class="needs-validation " method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="row justify-content-center"> 

       

             <div class="col-md-4 mb-3">
              <label for="emp_code">Employee Code</label>
              <input
              name="emp_code"
                type="text"
                class="form-control"
                id="emp_code"
                placeholder=""
                value=""
                required=""
              />
            </div> 
             <div class="col-md-4 mb-3">
              <label for="first_name">First Name</label>
              <input
              name="first_name"
                type="text"
                class="form-control"
                id="first_name"
                placeholder=""
                value=""
                required=""
              />
            </div> 
             <div class="col-md-4 mb-3">
              <label for="middle_name">Middle Name</label>
              <input
              name="middle_name"
                type="text"
                class="form-control"
                id="middle_name"
                placeholder=""
                value=""
                required=""
              />
            </div> 
             <div class="col-md-4 mb-3">
              <label for="last_name">Last Name </label>
              <input
              name="last_name"
                type="text"
                class="form-control"
                id="last_name"
                placeholder=""
                value=""
                required=""
              />
            </div> 
            <div class="col-md-4 mb-3">
              <label for="full_name_bangla">Full Name Bangla</label>
              <input
              name="full_name_bangla"
                type="text"
                class="form-control"
                id="full_name_bangla"
                placeholder=""
                value=""
                required=""
              />
            </div> 
            <div class="col-md-4 mb-3">
              <label for="id_card_no">Id Card No</label>
              <input
              name="id_card_no"
                type="text"
                class="form-control"
                id="id_card_no"
                placeholder=""
                value=""
                required=""
              />
            </div> 
            <div class="col-md-4 mb-3">
              <label for="punch_card_no">Punch Card No</label>
              <input
              name="punch_card_no"
                type="text"
                class="form-control"
                id="punch_card_no"
                placeholder=""
                value=""
                required=""
              />
            </div> 
                        
             <div class="col-md-4 mb-3">
              <label for="date_of_birth">Date Of Birth</label>
              <input
              name="date_of_birth"
                type="date"
                class="form-control"
                id="date_of_birth"
                placeholder=""
                value=""
                required=""
              />
            </div> 

            <div class="col-md-4 mb-3">
              <label for="father_name">Father Name </label>
              <input
              name="father_name"
                type="text"
                class="form-control"
                id="father_name"
                placeholder=""
                value=""
           
              />
            </div>

            <div class="col-md-4 mb-3">
              <label for="father_name_bangla">Father Name Bangla </label>
              <input
              name="father_name_bangla"
                type="text"
                class="form-control"
                id="father_name_bangla"
                placeholder=""
                value=""
           
              />
            </div>
            <div class="col-md-4 mb-3">
                <label for="mother_name">Mother Name </label>
                <input
                name="mother_name"
                  type="text"
                  class="form-control"
                  id="mother_name"
                  placeholder=""
                  value=""
             
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="mother_name_bangla">Mother Name Bangla </label>
                <input
                name="mother_name_bangla"
                  type="text"
                  class="form-control"
                  id="mother_name_bangla"
                  placeholder=""
                  value=""
             
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="birth_place">Birth Place </label>
                <input
                name="birth_place"
                  type="text"
                  class="form-control"
                  id="birth_place"
                  placeholder=""
                  value=""
             
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="religion"> Religion </label>
                <input
                name="religion"
                  type="text"
                  class="form-control"
                  id="religion"
                  placeholder=""
                  value=""
             
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="blood_group"> Blood Group </label>
                <input
                name="blood_group"
                  type="text"
                  class="form-control"
                  id="blood_group"
                  placeholder=""
                  value=""
             
                />
              </div>
            
            <div class="col-md-4 mb-3">
              <label for="marital_status">Marital Status</label>
              <select
              name="marital_status"
              class="custom-select d-block w-100"
              id="marital_status"
              
            >
              <option value="">-- Status --</option>
              <option>Single</option>
              <option>Married</option>
              <option>Separated</option>
              <option>Widow</option>
            </select>
            </div> 
            
            <div class="col-md-4 mb-3">
              <label for="sex">Gender</label>
              <select
              name="sex"
              class="custom-select d-block w-100"
              id="sex"
            >
              <option value="">-- Gender Type --</option>
              <option>Male</option>
              <option>Female</option>
            </select>
            </div>  

            <div class="col-md-4 mb-3">
                <label for="nationality"> Nationality </label>
                <input
                name="nationality"
                  type="text"
                  class="form-control"
                  id="nationality"
                  placeholder=""
                  value=""
             
                />
              </div>

            <div class="col-md-4 mb-3">
              <label for="national_id">National ID</label>
              <input
              name="national_id"
                type="text"
                class="form-control"
                id="national_id"
                placeholder=""
                value=""
                required=""
              />
            </div> 
            <div class="col-md-4 mb-3">
              <label for="passport_no">Passport No</label>
              <input
              name="passport_no"
                type="text"
                class="form-control"
                id="passport_no"
                placeholder=""
                value=""
                required=""
              />
            </div> 
            <div class="col-md-4 mb-3">
              <label for="designation_id">Designation ID</label>
              <input
              name="designation_id"
                type="text"
                class="form-control"
                id="designation_id"
                placeholder=""
                value=""
                required=""
              />
            </div> 
            <div class="col-md-4 mb-3">
                <label for="designation_level">Designation Level</label>
                <input
                name="designation_level"
                  type="text"
                  class="form-control"
                  id="designation_level"
                  placeholder=""
                  value=""
                  required=""
                />
              </div> 
              <div class="col-md-4 mb-3">
                <label for="joining_date">Joining Date</label>
                <input
                name="joining_date"
                  type="date"
                  class="form-control"
                  id="joining_date"
                  placeholder=""
                  value=""
                  required=""
                />
              </div> 
            <div class="col-md-4 mb-3">
              <label for="confirmation_date">Confirmation Date</label>
              <input
                name="confirmation_date"
                  type="date"
                  class="form-control"
                  id="confirmation_date"
                  placeholder=""
                  value=""
                  required=""
                />
            </div>  
            <div class="col-md-4 mb-3">
              <label for="service_benifit_from">Service Benifit from</label>
              <select
              name="service_benifit_from"
              class="custom-select d-block w-100"
              id="service_benifit_from"
              
            >
              <option value="">-- Select  --</option>
              <option>Original doj</option>
              <option>After rejoin date</option>
            </select>
            </div> 
            <div class="col-md-4 mb-3">
              <label for="category">Category</label>
              <select
              name="category"
              class="custom-select d-block w-100"
              id="category"
              
            >
              <option value="">-- Select  --</option>
              <option>Top</option>
              <option>Mid</option>
              <option>Non</option>
            </select>
            </div> 
            <div class="col-md-4 mb-3">
                <label for="functional_superior">functional Superior</label>
                <input
                  name="functional_superior"
                    type="text"
                    class="form-control"
                    id="functional_superior"
                    placeholder=""
                    value=""
                    required=""
                  />
              </div>  
              <div class="col-md-4 mb-3">
                <label for="admin_superior">Admin Superior</label>
                <input
                  name="admin_superior"
                    type="text"
                    class="form-control"
                    id="admin_superior"
                    placeholder=""
                    value=""
                    required=""
                  />
              </div>  
              <div class="col-md-4 mb-3">
                <label for="salary_grade">Salary Grade</label>
                <input
                  name="salary_grade"
                    type="text"
                    class="form-control"
                    id="salary_grade"
                    placeholder=""
                    value=""
                    required=""
                  />
              </div>  
              <div class="col-md-4 mb-3">
                <label for="salary_rule">Salary Rule</label>
                <input
                  name="salary_rule"
                    type="text"
                    class="form-control"
                    id="salary_rule"
                    placeholder=""
                    value=""
                    required=""
                  />
              </div>  
              <div class="col-md-4 mb-3">
                <label for="gross_salary">Gross Salary</label>
                <input
                  name="gross_salary"
                    type="number"
                    class="form-control"
                    id="gross_salary"
                    placeholder=""
                    value=""
                    required=""
                  />
              </div>  
              
              <div class="col-md-4 mb-3">
                <label for="bank_gross">Bank Gross</label>
                <input
                  name="bank_gross"
                    type="number"
                    class="form-control"
                    id="bank_gross"
                    placeholder=""
                    value=""
                    required=""
                  />
              </div>    
            <div class="col-md-4 mb-3">
              <label for="status_active">Status Active</label>
              <select
              name="status_active"
              class="custom-select d-block w-100"
              id="status_active"
              
            >
              <option value="">-- Select --</option>
              <option>Yes</option>
              <option>No</option>
            </select>
            </div> 
            <div class="col-md-4 mb-3">
                <label for="status_suspension">Status Suspension</label>
                <select
                name="status_suspension"
                class="custom-select d-block w-100"
                id="status_suspension"
                
              >
                <option value="">-- Select --</option>
                <option>Yes</option>
                <option>No</option>
              </select>
            </div> 

            <div class="col-md-4 mb-3">
                <label for="status_attendance">Status Attendence</label>
                <select
                name="status_attendance"
                class="custom-select d-block w-100"
                id="status_attendance"
                
              >
                <option value="">-- Select --</option>
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            
            <div class="col-md-4 mb-3">
                <label for="status_salary">Status Salary</label>
                <select
                name="status_salary"
                class="custom-select d-block w-100"
                id="status_salary"
                
              >
                <option value="">-- Select --</option>
                <option>Yes</option>
                <option>No</option>
              </select>
            </div> 

            <div class="col-md-4 mb-3">
              <label for="ot_entitled">OT Entitled</label>
              <input
                name="ot_entitled"
                type="text"
                class="form-control"
                id="ot_entitled"
                placeholder=""
                value=""
              />
            </div> 
            <div class="col-md-4 mb-3">
              <label for="holiday_allowance_entitled">Holiday Allowance Entitled</label>
              <input
              name="holiday_allowance_entitled"
                type="text"
                class="form-control"
                id="holiday_allowance_entitled"
                placeholder=""
                value=""
                required=""
              />
            </div>
            
            <div class="col-md-4 mb-3">
              <label for="pf_entitled">PF Entitled</label>
              <input
              name="pf_entitled"
                type="text"
                class="form-control"
                id="pf_entitled"
                placeholder=""
                value=""
                required=""
              />
            </div>
            <div class="col-md-4 mb-3">
                <label for="gi_entitled">GI Entitled</label>
                <input
                name="gi_entitled"
                  type="text"
                  class="form-control"
                  id="gi_entitled"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
            
              <div class="col-md-4 mb-3">
                <label for="overtime_policy">Overtime Policy</label>
                <input
                name="overtime_policy"
                  type="text"
                  class="form-control"
                  id="overtime_policy"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
            
              <div class="col-md-4 mb-3">
                <label for="holiday_incentive_policy">Holiday incentive Policy</label>
                <input
                name="holiday_incentive_policy"
                  type="text"
                  class="form-control"
                  id="holiday_incentive_policy"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="duty_roster_policy">Duty roster Policy</label>
                <input
                name="duty_roster_policy"
                  type="text"
                  class="form-control"
                  id="duty_roster_policy"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="leave_policy">Leave Policy</label>
                <input
                name="leave_policy"
                  type="text"
                  class="form-control"
                  id="leave_policy"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="maternity_leave_policy">Maternity Leave Policy</label>
                <input
                name="maternity_leave_policy"
                  type="text"
                  class="form-control"
                  id="maternity_leave_policy"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="attendance_bonus_policy">Attendance Bonus Policy</label>
                <input
                name="attendance_bonus_policy"
                  type="text"
                  class="form-control"
                  id="attendance_bonus_policy"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="absent_deduction_policy">Absent Deduction Policy</label>
                <input
                name="absent_deduction_policy"
                  type="text"
                  class="form-control"
                  id="absent_deduction_policy"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="late_deduction_policy">Late Deduction Policy</label>
                <input
                name="late_deduction_policy"
                  type="text"
                  class="form-control"
                  id="late_deduction_policy"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="bonus_policy">Bonus Policy</label>
                <input
                name="bonus_policy"
                  type="text"
                  class="form-control"
                  id="bonus_policy"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="tax_policy">Tax Policy</label>
                <input
                name="tax_policy"
                  type="text"
                  class="form-control"
                  id="tax_policy"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="shift_policy">Shif Policy</label>
                <input
                name="shift_policy"
                  type="text"
                  class="form-control"
                  id="shift_policy"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="company_id">Company ID</label>
                <input
                name="company_id"
                  type="text"
                  class="form-control"
                  id="company_id"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="location_id">Location ID</label>
                <input
                name="location_id"
                  type="text"
                  class="form-control"
                  id="location_id"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="division_id">Division ID</label>
                <input
                name="division_id"
                  type="text"
                  class="form-control"
                  id="division_id"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="department_id">Department ID</label>
                <input
                name="department_id"
                  type="text"
                  class="form-control"
                  id="department_id"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="section_id">Section ID</label>
                <input
                name="section_id"
                  type="text"
                  class="form-control"
                  id="section_id"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="inserted_by">Inserted By</label>
                <input
                name="inserted_by"
                  type="text"
                  class="form-control"
                  id="inserted_by"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="insert_date">Insert Date</label>
                <input
                name="insert_date"
                  type="date"
                  class="form-control"
                  id="insert_date"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="updated_by">Updated By</label>
                <input
                name="updated_by"
                  type="text"
                  class="form-control"
                  id="updated_by"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="update_date">Update Date</label>
                <input
                name="update_date"
                  type="date"
                  class="form-control"
                  id="update_date"
                  placeholder=""
                  value=""
                  required=""
                />
              </div>
              
              
            <div class="col-md-6 mb-3">
              <label for="is_deleted">Is Deleted</label>
              <select
              name="is_deleted"
              class="custom-select d-block w-100"
              id="is_deleted"
            >
              <option value="">-- Status --</option>
              <option>Yes</option>
              <option>No</option>
              
            </select>
            </div>  
            <div class="col-md-6 mb-3">
                <label for="is_locked">Is Locked</label>
                <select
                name="is_locked"
                class="custom-select d-block w-100"
                id="is_locked"
              >
                <option value="">-- Status --</option>
                <option>Yes</option>
                <option>No</option>
                
              </select>
              </div>  

            <div class="col-md-12 mb-3">
              <label for="remark">Remark</label>
              <textarea
                name="remark"
                type="text"
                class="form-control"
                id="remark"
                placeholder=""
                value=""
              ></textarea>
            </div> 



            
          </div>
          
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
       
      </div>
   
     
      
    </div>
    <div class="container mt-4">
      <h4 class="text-center mb-4">VIEW ALL HRM EMPLOYEE LIST HERE</h4>
     
       
      <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Serial No.</th>
            <th scope="col">Employee Code</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Id card no</th>
            <th scope="col">Punch card no.</th>
            <th scope="col">Father name</th>
            <th scope="col">Action</th>
          
          </tr>
        </thead>
        <tbody>
          {% for i in employee  %}
          <tr>
            <td>{{i.id}}</td>
            <td>{{i.emp_code}}</td>
            <td>{{i.first_name}}</td>
            <td>{{i.last_name}}</td>
            <td>{{i.id_card_no}}</td>
            <td>{{i.punch_card_no}}</td>
            <td>{{i.father_name}}</td>
            <td>
             <a href="/view_sub_department/{{i.id}}"><i class="fas fa-eye btn btn-primary btn-sm" ></i></a> 
             <a href="/edit_sub_department/{{i.id}}"><i class="fas fa-pencil-alt btn-danger btn-sm"></i></a>
             <a href="/delete_sub_department/{{i.id}}"><i class="far fa-trash-alt btn-warning btn-sm"></i></a> 
            </td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
      </div>
    </div> 

  {% endblock %}

 {% block script %}

  {% endblock %}