{% extends 'index.html' %}

{% block title %} LAKSHMA ERP | LIB PRODUCT INFORMATION  {% endblock title %}



{% block body %}

<div class="container p-5 bg-color">
    <div class="py-5 text-center">
      <h2 class="text-uppercase font-weight-bold">LIB PRODUCT INFORMATION</h2>
      <!-- <p class="lead">
          Please provide your authentic information by filling up the form below
        </p> -->
    </div>

    <div class="col-md-12 order-md-1 mb-2">
     
      <form class="needs-validation " method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="row justify-content-center"> 

     

       
           <div class="col-md-4 mb-3">
            <label for="product_code  ">Product Code</label>
            <input
            name="product_code       "
              type="text"
              class="form-control"
              id="product_code      "
              placeholder=""
              value=""
              required=""
            />
          </div> 

           <div class="col-md-4 mb-3">
            <label for="product_name_details   ">Product Name Details</label>
            <input
            name="product_name_details        "
              type="text"
              class="form-control"
              id="product_name_details       "
              placeholder=""
              value=""
              required=""
            />
          </div> 
           <div class="col-md-4 mb-3">
            <label for="item_group">Item Group</label>
            <input
            name="item_group "
              type="text"
              class="form-control"
              id="item_group       "
              placeholder=""
              value=""
              required=""
            />
          </div> 
           <div class="col-md-4 mb-3">
            <label for="product_name_short   ">Product Name Short</label>
            <input
            name="product_name_short        "
              type="text"
              class="form-control"
              id="product_name_short      "
              placeholder=""
              value=""
              required=""
            />
          </div> 

           <div class="col-md-4 mb-3">
            <label for="item_category    ">Item Category</label>
            <input
            name="item_category         "
              type="text"
              class="form-control"
              id="item_category       "
              placeholder=""
              value=""
              required=""
            />
          </div> 

           <div class="col-md-4 mb-3">
            <label for="vat_per_unit     ">VAT Per Unit</label>
            <input
            name="vat_per_unit          "
              type="text"
              class="form-control"
              id="vat_per_unit        "
              placeholder=""
              value=""
              required=""
            />
          </div> 
           <div class="col-md-4 mb-3">
            <label for="rate_per_unit  ">Rate Per Unit</label>
            <input
            name="rate_per_unit  "
              type="text"
              class="form-control"
              id="rate_per_unit  "
              placeholder=""
              value=""
              required=""
            />
          </div> 
           <div class="col-md-4 mb-3">
            <label for="current_stock ">Current Stock</label>
            <input
            name="current_stock"
              type="text"
              class="form-control"
              id="current_stock"
              placeholder=""
              value=""
              required=""
            />
          </div> 
          
         
         
          <div class="col-md-4 mb-3">
            <label for="inserted_by    ">Inserted By</label>
            <input
              name="inserted_by    "
              type="text"
              class="form-control"
              id="inserted_by    "
              placeholder=""
              value=""
            />
          </div> 
          <div class="col-md-4 mb-3">
            <label for="insert_date    ">Insert Date</label>
            <input
              name="insert_date    "
              type="date"
              class="form-control"
              id="insert_date    "
              placeholder=""
              value=""
            />
          </div> 
          <div class="col-md-4 mb-3">
            <label for="updated_by    ">Updated By</label>
            <input
              name="updated_by    "
              type="text"
              class="form-control"
              id="updated_by    "
              placeholder=""
              value=""
            />
          </div> 
          <div class="col-md-4 mb-3">
            <label for="update_date    ">Update Date</label>
            <input
              name="update_date    "
              type="date"
              class="form-control"
              id="update_date    "
              placeholder=""
              value=""
            />
          </div> 
        

          <div class="col-md-4 mb-3">
            <label for="status_active    ">Status</label>
            <select
            name="status_active "
            class="custom-select d-block w-100"
            id="status_active "
          >
            <option value="">Active</option>
            <option>In Active</option>
         
          </select>
          </div> 

          <div class="col-md-4 mb-3">
            <label for="is_deleted     ">Delete</label>
            <select
            name="is_deleted  "
            class="custom-select d-block w-100"
            id="is_deleted  "
          >
            <option value="">Yes</option>
            <option>No</option>
         
          </select>
          </div> 

        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>




{%endblock body%}