{% extends 'index.html' %}

{% block title %} LAKSMA ERP | Order{% endblock title %}

{% block css %}
<style>
  /*.bg-color{
    color:white;
    background-color: rgb(37, 36, 36);
    background-image: linear-gradient(green, rgb(46, 43, 43));
  }*/
</style>
{% endblock css%}

{% block body %}
{% if messages %}

    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message: </strong>{{message}} 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
    {% endfor %}

   {% endif %}
  
    <div class="container p-5 bg-color">
      <div class="py-5 text-center">
        <h2 class="text-uppercase font-weight-bold">Order Entry Form</h2>
        <!-- <p class="lead">
            Please provide your authentic information by filling up the form below
          </p> -->
      </div>

      <div class="col-md-12 order-md-1 mb-2">
       
        <form class="needs-validation " method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="row justify-content-center"> 

       

             <div class="col-md-4 mb-3">
              <label for="job_no">Job No.</label>
              <input
              name="job_no"
                type="text"
                class="form-control"
                id="job_no"
                placeholder=""
                value=""
                required=""
              />
            </div> 
            <div class="col-md-4 mb-3">
              <label for="buyer_name">Buyer Name</label>
              <select
              name="buyer_name "
              class="custom-select d-block w-100"
              id="buyer_name "
            >
              <option value="">-- Select Buyer --</option>
              {% for b in buyers %}
              <option>{{b.buyer_name}}</option>
              {% endfor %}
           
            </select>
            </div> 

            <div class="col-md-4 mb-3">
              <label for="style_name">Style Name</label>
              <select
              name="style_name "
              class="custom-select d-block w-100"
              id="style_name "
            >
              <option value="">-- Select Style Ref No --</option>
              {% for s in styles %}
              <option>{{s.style_name}}</option>
              {% endfor %}
           
            </select>
            </div> 
           
             <div class="col-md-4 mb-3">
              <label for="order_repeat_no">Order Repeat No.</label>
              <input
              name="order_repeat_no"
                type="text"
                class="form-control"
                id="order_repeat_no"
                placeholder=""
                value=""
                required=""
              />
            </div> 
            <div class="col-md-4 mb-3">
              <label for="company_name">Company Name </label>
              <select
              name="company_name "
              class="custom-select d-block w-100"
              id="company_name "
            >
              <option value="">-- Select Working Company --</option>
              {% for c in company %}
              <option>{{c.company_name}}</option>
              {% endfor %}
           
            </select>
            </div> 
            <div class="col-md-4 mb-3">
              <label for="working_company_location">Working Company Location</label>
              <input
              name="working_company_location"
                type="text"
                class="form-control"
                id="working_company_location"
                placeholder=""
                value=""
                required=""
              />
            </div>
            <div class="col-md-4 mb-3">
              <label for="file_no">File no</label>
              <input
              name="file_no"
                type="text"
                class="form-control"
                id="file_no"
                placeholder=""
                value=""
                required=""
              />
            </div>

            <div class="col-md-4 mb-3">
              <label for="projected_job_no">Projected job no</label>
              <input
              name="projected_job_no"
                type="text"
                class="form-control"
                id="projected_job_no"
                placeholder=""
                value=""
                required=""
              />
            </div>

             <div class="col-md-4 mb-3">
              <label for="department_name">Department Name</label>
              <select
              name="department_name "
              class="custom-select d-block w-100"
              id="department_name "
            >
              <option value="">-- Choose --</option>
              {% for d in departments %}
              <option>{{d.department_name}}</option>
              {% endfor %}
           
            </select>
            </div> 

            <div class="col-md-4 mb-3">
              <label for="sub_department_name">Sub Department Name</label>
              <select
              name="sub_department_name "
              class="custom-select d-block w-100"
              id="sub_department_name "
            >
              <option value="">-- Choose --</option>
              {% for sub in sub_department %}
              <option>{{sub.sub_department_name}}</option>
              {% endfor %}
           
            </select>
            </div> 

            <div class="col-md-4 mb-3">
              <label for="product_cate">product Category </label>
              <select
              name="product_cate"
              class="custom-select d-block w-100"
              id="product_cate"
            >
              <option value="">-- Choose --</option>
              {% for p in prod_cate %}
              <option>{{p.product_cate}}</option>
              {% endfor %}
            </select>
            </div>
            <div class="col-md-4 mb-3">
              <label for="season_name">Season Name</label>
              <select
              name="season_name"
              class="custom-select d-block w-100"
              id="season_name"
            >
              <option value="">-- Choose --</option>
              {% for s in seasons %}
              <option>{{s.season_name}}</option>
              {% endfor %}
            </select>
            </div>

            <div class="col-md-4 mb-3">
              <label for="region_name">Region Name</label>
              <select
              name="region_name"
              class="custom-select d-block w-100"
              id="region_name"
              
            >
              <option value="">-- Choose --</option>
              {% for r in regions %}
              <option>{{r.region_name}}</option>
              {% endfor %}
            </select>
            </div> 
           
            
            <div class="col-md-4 mb-3">
              <label for="agent_name">Agent Name</label>
              <select
              name="agent_name"
              class="custom-select d-block w-100"
              id="agent_name"
            >
              <option value="">-- Choose --</option>
              {% for a in agents %}
              <option>{{a.agent_name}}</option>
              {% endfor %}
            </select>
            </div>  
            
            <div class="col-md-4 mb-3">
              <label for="client_name">Client Name</label>
              <select
              name="client_name"
              class="custom-select d-block w-100"
              id="client_name"
            >
              <option value="">-- Choose --</option>
              {% for c in clients %}
              <option>{{c.client_name}}</option>
              {% endfor %}
            </select>
            </div>

            <div class="col-md-4 mb-3">
              <label for="quality_label">Quality Label</label>
              <input
              name="quality_label"
                type="text"
                class="form-control"
                id="quality_label"
                placeholder=""
                value=""
                required=""
              />
            </div> 
            <div class="col-md-4 mb-3">
              <label for="unit_name">Unit Name</label>
              <select
              name="unit_name"
              class="custom-select d-block w-100"
              id="unit_name"
            >
              <option value="">-- Choose --</option>
              {% for u in units %}
              <option>{{u.unit_name}}</option>
              {% endfor %}
              
            </select>
            </div> 


            <div class="col-md-4 mb-3">
              <label for="smv">UOM & SMV</label>
              <input
              name="smv"
                type="text"
                class="form-control"
                id="smv"
                placeholder=""
                value=""
                required=""
              />
            </div> 
            <div class="col-md-4 mb-3">
              <label for="buying_house_merchandiser">Buying house merchandiser.</label>
              <input
              name="buying_house_merchandiser"
                type="text"
                class="form-control"
                id="buying_house_merchandiser"
                placeholder=""
                value=""
                required=""
              />
            </div> 
            <div class="col-md-4 mb-3">
              <label for="ship_mode">Ship Mode</label>
              <select
              name="ship_mode"
              class="custom-select d-block w-100"
              id="ship_mode"
            >
              <option value="">-- Choose --</option>
              <option>Sea</option>
              <option>Air</option>
              <option>Road</option>
              
            </select>
            </div>  
            <div class="col-md-4 mb-3">
              <label for="emp_code">Employee code</label>
              <select
              name="emp_code"
              class="custom-select d-block w-100"
              id="emp_code"
              
            >
              <option value="">-- Choose  --</option>
              {% for e in employee %}
              <option>{{e.emp_code}}</option>
              {% endfor %}
            </select>
            </div> 
          
            <div class="col-md-4 mb-3">
              <label for="ready_for_bom">Ready for BOM</label>
              <input
                name="ready_for_bom"
                type="text"
                class="form-control"
                id="ready_for_bom"
                placeholder=""
                value=""
              />
            </div> 
            <div class="col-md-4 mb-3">
              <label for="copy_from_job_no">Copy Form job no</label>
              <input
              name="copy_from_job_no"
                type="text"
                class="form-control"
                id="copy_from_job_no"
                placeholder=""
                value=""
                required=""
              />
            </div>
            <div class="col-md-4 mb-3">
              <label for="file_name_link">File name link</label>
              <input
              name="file_name_link"
                type="text"
                class="form-control"
                id="file_name_link"
                placeholder=""
                value=""
                required=""
              />
            </div>
            <!-- <div class="col-md-4 mb-3">
              <label for="add_file">Add File</label>
              <input
               src="media/images/Employee_Images"
              name="add_file"
                type="file"
                class="form-control"
                id="add_file"
              />
            </div>  -->
            <div class="col-md-4 mb-3">
              <label for="internal_ref_no">Int. Ref. No.</label>
              <input
              name="internal_ref_no"
                type="text"
                class="form-control"
                id="internal_ref_no"
                placeholder=""
                value=""
                required=""
              />
            </div>
            <div class="col-md-4 mb-3">
              <label for="currency_code">Currency</label>
              <select
              name="currency_code"
              class="custom-select d-block w-100"
              id="currency_code"
            >
              <option value="">-- Choose --</option>
              {% for c in currency %}
              <option>{{c.currency_code}}</option>
              {% endfor %}
            </select>
            </div>  
            <div class="col-md-4 mb-3">
              <label for="order_type">Order Type</label>
              <select
              name="order_type"
              class="custom-select d-block w-100"
              id="order_type"
            >
              <option value="">-- Choose --</option>
              <option>Knit</option>
              <option>Oven</option>
              <option>Sweater</option>
              
            </select>
            </div> 
            
            <div class="col-md-4 mb-3">
              <label for="inserted_by    ">Inserted By</label>
              <input
                name="inserted_by    "
                type="text"
                class="form-control"
                id="inserted_by    "
                placeholder=""
                value=""
              />
            </div> 
            <div class="col-md-4 mb-3">
              <label for="insert_date    ">Insert Date</label>
              <input
                name="insert_date    "
                type="date"
                class="form-control"
                id="insert_date    "
                placeholder=""
                value=""
              />
            </div> 
            <div class="col-md-4 mb-3">
              <label for="updated_by    ">Updated By</label>
              <input
                name="updated_by    "
                type="text"
                class="form-control"
                id="updated_by    "
                placeholder=""
                value=""
              />
            </div> 
            <div class="col-md-4 mb-3">
              <label for="update_date    ">Update Date</label>
              <input
                name="update_date    "
                type="date"
                class="form-control"
                id="update_date    "
                placeholder=""
                value=""
              />
            </div> 
            <div class="col-md-4 mb-3">
              <label for="status_active">Status</label>
              <select
              name="status_active "
              class="custom-select d-block w-100"
              id="status_active "
            >
              <option value="">-- Choose --</option>
              <option>Yes</option>
              <option>No</option>
           
            </select>
            </div> 
  
            <div class="col-md-4 mb-3">
              <label for="is_deleted">Delete</label>
              <select
              name="is_deleted"
              class="custom-select d-block w-100"
              id="is_deleted"
            >
              <option value="">-- Choose --</option>
              <option>Yes</option>
              <option>No</option>
           
            </select>
            </div> 
            <div class="col-md-12 mb-3">
              <label for="remarks  "> Remark </label>
              <textarea
              name="remarks  "
                type="text"
                class="form-control"
                id="remarks  "
                placeholder=""
                value=""
                required=""
              ></textarea>
            </div> 
            
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>

</div>
 
<div class="container mt-4">
  <h4 class="text-center">VIEW ALL ORDER LIST HERE</h4>
 
   
  <div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Serial No.</th>
        <th scope="col">Job no</th>
        <th scope="col">Buyer name </th>
        <th scope="col">Style ref no.</th>
        <th scope="col">Order repeat no</th>
        <th scope="col">Company name</th>
        <th scope="col">Action </th>
      </tr>
    </thead>
    <tbody>
      {% for i in all_orders  %}
      <tr>
        <td>{{i.id}}</td>
        <td>{{i.job_no}}</td>
        <td>{{i.buyer_name}}</td>
        <td>{{i.style_name}}</td>
        <td>{{i.order_repeat_no}}</td>
        <td>{{i.company_name}}</td>
        <td>
          <a href="/viewbuyerInfo/{{i.id}}"><i class="fas fa-eye btn btn-primary btn-sm" ></i></a> 
          <a href="/editbuyerInfo/{{i.id}}"><i class="fas fa-pencil-alt btn-danger btn-sm"></i></a>
          <a href="/delete_buyer/{{i.id}}"><i class="far fa-trash-alt btn-warning btn-sm"></i></a> 
        </td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
  </div>
</div> 
  {% endblock %}

 {% block script %}

  {% endblock %}