{% extends 'index.html' %}
{% block title %} View Employee Information {% endblock title %}



{% block body %}
<div class="container flex-auto card-img-right  img-thumbnail mt-3">
    <div class="py-5 text-center">
      <h2>Employee Information</h2>
      <p class="lead">View Employee Personal Information Here</p>
    </div>
    

    <div class="col-md-12 order-md-1 mb-2">
      <div class="row justify-content-center">
      
        <div class="col-md-12 d-flex justify-content-center">
          <img src="/media/{{employee.emp_Image}}" style="width:250PX; height:300PX"
        class="card-img-right flex-auto  d-md-block img-thumbnail col-xs-6 img-fluid mb-3" alt="Responsive image">
        </div>

         <div class="col-md-12">
        <label for="emp_Code"><b>EmpCode:</b> {{employee.emp_Code}}</label>
          
        </div>

        <div class="col-md-6">
          <label for="emp_first_Name"
            ><b>First Name:</b> {{employee.emp_first_Name}}</label
          >
        </div>
        <div class="col-md-6">
          <label for="emp_middle_Name"
            ><b>Middle Name:</b> {{employee.emp_middle_Name}}
          </label>
        </div>
        <div class="col-md-6">
          <label for="emp_last_Name"
            ><b>Last Name:</b> {{employee.emp_last_Name}}</label
          >
        </div>

        <div class="col-md-6">
          <label for="emp_father_Name"
            ><b>Father Name:</b> {{employee.emp_father_Name}}</label
          >
        </div>
        <div class="col-md-6">
          <label for="emp_mother_Name"
            ><b>Mother Name:</b> {{employee.emp_mother_Name}}</label
          >
        </div>

        <div class="col-md-6">
          <label for="emp_category"
            ><b>Employee Category:</b> {{employee.emp_category}}</label
          >
        </div>

        <div class="col-md-6">
          <label for="emp_join_Date"
            ><b>Date Of Joining:</b> {{employee.emp_join_Date}}</label
          >
        </div>

        <div class="col-md-6">
          <label for="emp_blood_group"
            ><b>Blood Group:</b> {{employee.emp_blood_group}}</label
          >
        </div>

        <div class="col-md-6">
          <label for="emp_confirm_Date"
            ><b>Date Of Confirmation:</b> {{employee.emp_confirm_Date}}</label
          >
        </div>
        <div class="col-md-6">
          <label for="emp_marital_status"
            ><b>Marital Status:</b> {{employee.emp_marital_status}}</label
          >
        </div>
        <div class="col-md-6">
          <label for="emp_birth_Date"
            ><b> Date Of Birth:</b> {{employee.emp_birth_Date}}</label
          >
        </div>

        <div class="col-md-6">
          <label for="emp_spouse_Name"> <b>Spouse Name:</b> {{employee.emp_spouse_Name}}</label>
        </div>

        <div class="col-md-6">
          <label for="emp_status"><b>Status:</b> {{employee.emp_status}}</label>
        </div>
        <div class="col-md-6">
          <label for="emp_present_Number"
            ><b>Present Mobile Number:</b> {{employee.emp_present_number}}
          </label>
        </div>

        <div class="col-md-6">
          <label for="emp_group"><b>Employee Group:</b> {{employee.emp_group}}</label>
        </div>

        <div class="col-md-6">
          <label for="emp_national_No"
            ><b>National No:</b> {{employee.emp_national_id_no}}</label
          >
        </div>

        <div class="col-md-6">
          <label for="emp_national_No"
            ><b>Bank Name:</b> {{employee.emp_bank_name}}</label
          >
        </div>
        <div class="col-md-6">
          <label for="emp_national_No"
            ><b>Bank Account No:</b> {{employee.emp_bankaccount_number}}</label
          >
        </div>
        <div class="col-md-6">
          <label for="emp_national_No"
            ><b>Mobile Banking Name:</b> {{employee.emp_mobilebanking_Name}}</label
          >
        </div>
        <div class="col-md-6">
          <label for="emp_national_No"
            ><b>Mobile Account No:</b> {{employee.emp_mobileaccount_number}}</label
          >
        </div>
        <div class="col-md-6">
          <label for="emp_reporting_Manager"
            ><b>Reporting Manager:</b> {{employee.emp_reporting_manager}}</label
          >
        </div>

        <div class="col-md-6">
          <label for="emp_designation"
            ><b>Designation:</b> {{employee.emp_designation}}</label
          >
        </div>

        <div class="col-md-6">
          <label for="emp_gender"><b>Gender:</b> {{employee.emp_gender}}</label>
        </div>

        <div class="col-md-6">
          <label for="emp_company"><b>Company:</b> {{employee.emp_company}}</label>
        </div>
        <div class="col-md-6">
          <label for="emp_official_email"
            ><b>Official Email Address:</b> {{employee.emp_official_email}}</label
          >
        </div>
        <div class="col-md-6">
          <label for="emp_personal_email"
            ><b>Personal Email Address:</b> {{employee.emp_personal_email}}</label
          >
        </div>

        <div class="col-md-6">
          <label for="emp_division"><b>Division:</b> {{employee.emp_division}}</label>
        </div>

        <div class="col-md-6">
          <label for="emp_department"><b>Department:</b> {{employee.emp_department}}</label>
        </div>

        <div class="col-md-6">
          <label for="emp_sub_department"
            ><b>Sub-Department:</b> {{employee.emp_sub_department}}</label
          >
        </div>

        <div class="col-md-6">
          <label for="emp_section"><b>Section:</b> {{employee.emp_section}}</label>
        </div>

        <div class="col-md-6">
          <label for="emp_sub_section"
            ><b>Sub-Section:</b> {{employee.emp_sub_section}}</label
          >
        </div>
         <div class="col-md-6">
          <label for="emp_present_Address"
            ><b>Present Address:</b> {{employee.emp_present_address}}</label
          >
        </div>

        <div class="col-md-6">
          <label for="emp_permanent_Address"
            ><b>Permanent Address:</b> {{employee.emp_permanent_address}}</label
          >
        </div>

        <div class="col-md-6">
          <label for="emp_location"><b>Location:</b> {{employee.emp_location}}</label>
        </div>
        <div class="col-md-6 mt-3">
          <a class="btn btn-warning mb-3" href="/editemployeeInfo/{{employee.emp_ID}}">Edit</a>
        </div>
      </div>
      
    </div>
  </div> 
{% endblock body %}